.border-color {
    transition: border-color 1s;
    border-bottom: solid 2px #eeeeee00;
}

.border-color:hover {
    border-color: #D65A31;
}

/* Scales */
.transition-scale {
    transition: transform 1.5s, border-color 1s;
}

.transition-scale:hover {
    transform: scale(1.1);
    border-color: #D65A31;
    box-shadow: 2px 2px 8px #D65A31;
}

/* .imgAnimation img {
    background-image: url("../img/BackEndIcon.png");
    width: 60px;
    height: 60px;
    background-size: cover;
    background-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
}

.imgAnimation img:hover {
    background-image: url("../img/BackEndGif.gif");
} */