html {
    scroll-behavior: smooth;
}

body {
    font-family: Lato;
    color: #EEEEEE;
    background-color: #222831;
    /* background-image: linear-gradient(145deg, #393E46, #222831, #393E46, #D65A31); */
    background-attachment: fixed;
}

strong {
    font-weight: lighter;
}

.header {
    display: flex;
    align-items: center;
    justify-self: center;
}

.header div>a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #EEEEEE;
}

.header__title {
    text-align: center;
    margin-left: 1rem;
    color: gray;
}

.header__references a {
    margin: 10px;
}

.row {
    align-items: center;
}

.contents {
    margin: 60px;
    font-size: 2rem;
}

.contents__background-color {
    padding: 0.1rem;
    background-color: #393E46;
}

.contents__titles p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: lighter;
    color: #EEEEEE;
}

.contents__home-title {
    padding-bottom: 10px;
}

.contents__home-title h1 {
    font-size: 3.5rem;
}

.contents__full-stack {
    font-weight: bold;
    color: #D65A31;
}

.contents__images>img {
    max-width: 100%;
    width: 700px;
}

.contents__images>#img01,
#img03 {
    float: right;
}

.contents__senai-institution {
    font-style: italic;
    font-weight: lighter;
    color: #D65A31;
}

.contents__senai-institution:hover {
    color: #ff4204;
}

.contents__skills {
    justify-self: center;
    margin: 0 60px;
    float: right;
    color: #EEEEEE;
}

.skills-layout {
    margin: 0;
    padding: 0;
}

/* .skills-table {} */
.contents__skills-icons img {
    margin: 0 30px;
    padding: 5px;
    max-width: 60px;
}

.contents__skills-names p {
    text-align: center;
    font-size: 1rem;
}

.skill-list {
    font-size: 1.5rem;
    font-weight: lighter;
}


/* .contents__service-icons {
    padding: 0;
    margin: 0;
    border-radius: 20px 20px 0 0;
    background-color: #222831;
} */

/* .contents__service-icons img {} */

.contents__service-button-list {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
}

.contents__service-card {
    font-size: 1.85rem;
    border-radius: 5%;
    background-color: #EEEEEE;
    box-shadow: 8px 8px 10px #222831;
}

.contents__service-card div {
    justify-content: center;
    text-align: center;
}

.contents__service-list {
    padding: 0;
    word-spacing: 5px;
    color: gray;
}

.contents__service-category {
    margin-top: 10%;
    padding-bottom: 10%;
    font-weight: bold;

    color: #D65A31;
    border: solid #eeeeee00;
    border-top-color: #D65A31;
    background: linear-gradient(123deg, #742c14, #ff4204, #742c14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Contacts Config */
.contacts {
    font-size: 1.65rem;
    color: #EEEEEE;
}

.contacts-icon img {
    margin-right: 10px;
    max-width: 35px;
}

.contacts p {
    margin: 0;
    font-size: 1.65rem;
    font-style: italic;
}

.contents__buttons-icon img {
    margin: 5% 0;
    max-width: 70px;
}

.contents__discord {
    color: #EEEEEE;
}

.contents__discord:hover {
    color: #ff4204;
}

.contents__button {
    margin-top: 10px;
    padding: 0.5%;
    font-size: 1.3rem;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    color: #222831;
    background-color: #D65A31;
    box-shadow: 2px 2px 8px #222831;
}

.contents__button--email {
    margin-top: 10px;
    padding: 0.5%;
    font-size: 1.3rem;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    color: #222831;
    background-color: #D65A31;
    box-shadow: 2px 2px 8px #222831;
}

.contents__button--email a {
    color: #222831;
    text-decoration: none;
}

/* Footer */
.footer {
    position: static;
    padding-top: 5px;
    height: 40px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.25rem;
    color: gray;
    background-color: #222831;
}

/* 
#up {
    position: fixed;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #222831, #D65A31);
    filter: blur(80px);
    animation: down 40s infinite;
}

#down {
    position: fixed;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #D65A31, #222831);
    filter: blur(40px);
    animation: up 30s infinite;

}

#left {
    position: fixed;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #222831, #D65A31);
    filter: blur(150px);
    animation: left 30s 1s infinite;

}

#right {
    position: fixed;
    height: 550px;
    width: 550px;
    top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #222831, #D65A31);
    filter: blur(130px);
    animation: right 30s infinite;

} */