.layout-header {
    margin: 1rem 0;
    text-align: center;
}

.contents__skills-layout {
    margin: 0;
    padding: 0;
}

/* div>.row {
    border: 2px solid #D65A31;
}

div {
    border: 1px solid gray;
} */