@media(min-width: 992px) {
    .contents__nav-button {
        display: none;
    }

    .contents__skills-layout {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .contents {
        margin: 0;
        font-size: 2rem;
    }

    .header__title h1 {
        font-size: 1.75rem;
    }

    .header__references div>a {
        display: none;
    }

    /* Nav Bar Button */
    .contents__nav-button {
        display: inline;
        float: right;
        background-color: transparent;
        /* border: none; */
    }

    .contents__images>img {
        width: 600px;
        margin: 30px 0;
    }

    .contents__titles p {
        text-align: center;
    }

    .contents__text {
        font-size: 1.75rem;
    }

    /* HOME */
    .contents__home-title h1 {
        font-size: 3.5rem;
    }

    /* SKILLS */
    .contents__skills {
        margin: 30px 0;
    }

    .contents__skills-layout {
        display: flex;
        flex-direction: column-reverse;
    }

    .contents__skills-icons img {
        margin: 15px;
        padding: 5px;
        max-width: 60px;
    }

    .contents__service-button-list {
        margin: 15%;
        flex-direction: column;
        max-width: 15rem;
    }

    /* SERVICE BUTTON */
    .contents__service-card {
        font-size: 1rem;
        border-radius: 5%;
        margin-bottom: 1rem;
        background-color: #EEEEEE;
        box-shadow: 8px 8px 10px #222831;
    }

    /* FOOTER */
    .footer {
        font-size: 1rem;
    }
}